akshare
alembic
aiohttp
asyncio
beautifulsoup4
bcrypt
celery
chardet
configparser
cryptography
dashscope
decorator
dnspython
docxtpl
email-validator
fastapi
html5lib
imageio-ffmpeg
jinja2
jsonpath
loguru
lxml
mcp[cli]
moviepy
multimethod
mysql-connector-python
NumPy
openai
openpyxl
oracledb
pandas
passlib
pathlib
pdfminer
PDFminer.six
prettytable
psycopg2-binary
pyarrow
pydantic
pydantic-settings
pymongo
pymssql
pymysql
python-docx
python-dotenv
python-jose[cryptography]
python-multipart
python-pptx
pyodbc
pytest
redis
requests
Relatorio
reportlab
scipy
Spire.Doc
sqlalchemy
tenacity
typing-extensions
tqdm
uvicorn
xlrd
xlutils
xlwings
xlwt
XlsxWriter
weaviate-client
minio

